{% extends "layout3.html" %}

{% block content %}
<h1>Reset Password</h1>
<form method="POST" novalidate>

<fieldset class="form-group">
     <legend class="border-bottom mb-4">Please input your email</legend>
     <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}
              {{ form.email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              <i class="fa fa-user"></i>       
              {{ form.email(class="form-control form-control-lg") }}
          {% endif %}
     </div>
     <div class="form-group">
        {{ form.submit() }}
     </div>
</fieldset>
</form>
{% endblock content%}