{% extends "layout3.html" %}
{% block content %}

<fieldset>
<div class="form-group">          
     {{ form.new_password.label(class="form-control-label") }}
     {% if form.new_password.errors %}
         {{ form.new_password(class="form-control form-control-lg is-invalid") }}
         <div class="invalid-feedback">
             {% for error in form.new_password.errors %}
                 <span>{{ error }}</span>
             {% endfor %}
         </div>
     {% else %}
         <i class="fa fa-lock"></i>       
         {{ form.new_password(class="form-control form-control-lg") }}
     {% endif %}
</div>
<div class="form-group">
     {{ form.confirm_new_password.label(class="form-control-label") }}
     {% if form.confirm_new_password.errors %}
         {{ form.confirm_new_password(class="form-control form-control-lg is-invalid") }}
         <div class="invalid-feedback">
             {% for error in form.confirm_new_password.errors %}
                 <span>{{ error }}</span>
             {% endfor %}
         </div>
     {% else %}
         <i class="fa fa-lock"></i>       
         {{ form.confirm_new_password(class="form-control form-control-lg") }}
     {% endif %}
 </div>
</fieldset>
<div class="form-group">
     {{ form.submit(class="btn btn-outline-info") }}
 </div>
</div>
{% endblock content %}