{% extends 'layout3.html' %}
{% block content %}
<h1>{{ _('Send Message to %(user_name)s', user_name=user_name) }}</h1>

<div class="content-section">
     <form method="POST" action="", enctype="multipart/form-data" id="createPost">
<div class="form-group">
     {{ form.message.label(class="form-control-label") }}
     {% if form.message.errors %}
         {{ form.message(class="form-control form-control-lg is-invalid") }}
         <div class="invalid-feedback">
             {% for error in form.message.errors %}
                 <span>{{ error }}</span>
             {% endfor %}
         </div>
     {% else %}
         {{ form.message(class="form-control form-control-lg") }}
     {% endif %}
 </div>
 <div class="form-group">
     {{ form.submit(class="btn btn-outline-info") }}
 </div>
</form>
</div>


{% endblock content %}