{% extends 'layout3.html' %}
{% block content %}
<h1>
     {{total }} Results
</h1>
     {% for post in posts %}
     <article class="media content-section">
          <img class="rounded-circle article-img"
            src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user.user_profile', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%d, %B, %Y') }}</small>
            </div>
           
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
     </div>
     </article>
     {% endfor %}

{% endblock content%}